.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.meeting-card {
  width: 70%;
}

.meeting-options {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
